.AddressData h2 {
}

.AddressData-header {
    margin-bottom: 50px;
}


.AddressData .AddressData-InputBlock {
    display: flex;
    flex-direction: column;
    justify-content: start;
    align-items: flex-start;
}

.AddressData .AddressData-InputBlock label {
    margin: 15px;
    margin-left: 25px;
    margin-top: 20px;
}

.AddressData .AddressData-InputBlock input {
    margin-bottom: 20px;
}

.AddressData .AddressData-Controls {
    width: 330px;
    flex-direction: row;
    justify-content: space-around;
    margin-top: 25px;
}

.AddressData button {
    width: 140px;
}