
.PersonalData h2 {
    margin-bottom: 50px;
}

.PersonalData .PersonalData-InputBlock {
    display: flex;
    flex-direction: column;
    justify-content: start;
    align-items: flex-start;
}

.PersonalData .PersonalData-InputBlock label {
    margin: 15px;
    margin-left: 25px;
}

.PersonalData .PersonalData-InputBlock input {
    margin-bottom: 20px;
}


.birthdate{  
    width: 330px;
    margin-top: 30px;
}

.birthdate .birthdateInput{
    width: 100%;
    display: flex;
    justify-content: space-between;
    flex-direction: row;
    margin-bottom: 15px;
}

.birthdateHeader {
    margin-bottom: 20px;
    font-weight: bold;
    margin-top: 15px;
}

.birthdateInput input{
    width: auto;
    padding-left: 15px;
}

.birthdateInput .birthdateInput-year input{
    width: 150px;
}
.birthdateInput .birthdateInput-day input,
.birthdateInput .birthdateInput-month input{
    width: 70px;
}

.birthdateInput label {
    margin: 15px;
}

.PersonalData-country {
    margin-bottom: 50px;
}

.PersonalData-country label {
    margin-top: 0px;
    background-image: url("https://image.flaticon.com/icons/svg/60/60995.svg");
}

.PersonalData-country select {

    text-align: center;
    width: 330px;
    height: 50px;
    background-color: #ecf7f9;
    color: #444;
    font-size: 18px;
    padding-top: 15px;
    padding-bottom: 15px;
    padding-left: 25px;
    box-sizing: border-box;
    border: none;
    border-radius: 30px;
    margin-bottom: 30px;
    background-position: right 5px top;
        
    background-image: url("https://image.flaticon.com/icons/svg/60/60995.svg");
    background-size: 12px 12px;
        background-repeat: no-repeat;
        background-position: top 20px right 20px;
        appearance: none;

}
