.ToActivate .Header {
    margin-bottom: 50px;
    max-width: 360px;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
}
.ToActivate .Header p {
    width: 100%;
    padding: 0;
}


.ToActivate .InputBlock {
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: flex-start;
}

.ToActivate .InputBlock label {
    margin: 15px;
    margin-left: 25px;
    margin-top: 20px;
}

.ToActivate .InputBlock input {
    margin-bottom: 20px;
}

.ToActivate .Controls {
    width: 360px;
    margin-bottom: 30px;
    flex-direction: row;
    justify-content: space-between;
}

.ToActivate .Controls button {
    width: 90px;
}

.ToActivate .Controls .LongerButton {
    width: 140px;
}