.AccountTypeStep h2 {
    margin-bottom: 30px;
}

.AccountTypeStep-next {
    margin-top: 20px;
    width: 100%;
}

.AccountTypeStep  .AccountTypeStep-OptionsRow {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    width: 700px;
    margin-bottom: 25px;
}

.AccountTypeStep .AccountTypeStep-OptionsRow button {
    width: 200px;
    height: 75px;
    border: none;
    border-radius: 15px;
    background-color: rgba(248,252,253, 1);
    box-shadow: 0px 4px 6.65px 0.35px rgba(196, 205, 207, 0.8);
    transition: ease-in-out 0.3s; 
    color: #555;
}

.AccountTypeStep .AccountTypeStep-OptionsRow button:hover {
    background-color: #ecf7f9;
    color: #222;
    box-shadow: 0px 2px 5px 0px rgba(165, 182, 185, 0.6);
    transition: ease-in-out 0.3s; 
}

.AccountTypeStep .AccountTypeStep-OptionsRow button:disabled {
    box-shadow: none;
    background: silver;
}

.AccountTypeStep .AccountTypeStep-OptionsRow button:hover:disabled {
    box-shadow: none;
    background: silver;
    color: #555;
}
