.FreelanceBranches {
    margin-top: 30px;
}

.FreelanceBranches h2 {
    margin-bottom: 10px;
}

.FreelanceBranches  .Options {
    margin-top: 20px;
    display: flex;
    width: 700px;
}

.FreelanceBranches  .Controls {
    margin-top: 20px;
}

.FreelanceBranches .Options button {
    display: flex;
    align-items: center;
    width: 445px;
    height: 75px;
    margin-bottom: 20px;
    padding-left: 15px;
    padding-right: 15px;
    border: none;
    border-radius: 15px;
    background-color: #fff;
    box-shadow: 0px 4px 7px 0px rgba(196, 205, 207, 0.8);
    transition: ease-in-out 0.3s; 
    color: #555;
    font-weight: normal;
}

.FreelanceBranches .Options button:disabled {
    display: flex;
    align-items: center;
    width: 445px;
    height: 75px;
    margin-bottom: 20px;
    padding-left: 15px;
    padding-right: 15px;
    border: none;
    border-radius: 15px;
    transition: ease-in-out 0.3s; 
    font-weight: normal;
    box-shadow: none;
    background: silver;
    color: #555;
}

.FreelanceBranches .Options .Label {
    align-items: flex-start;
}

.FreelanceBranches .Options .Title {
    font-weight: bold;
    margin-bottom: 10px;
}

.FreelanceBranches .Options .Status {
    margin-left: auto;
    margin-right: 10px;
}

.FreelanceBranches .Options button:hover {
    background-color: #fff;
    color: #222;
    box-shadow: 0px 1px 5px 0px rgba(165, 182, 185, 0.6);
    transition: ease-in-out 0.3s; 
}

.FreelanceBranches .Options button:hover:disabled {
    box-shadow: none;
    background: silver;
    color: #555;
}
