.BusinessAddress .Header {
    margin-bottom: 30px;
}


.BusinessAddress .InputBlock {
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: flex-start;
}

.BusinessAddress .InputBlock label {
    margin: 15px;
    margin-left: 25px;
}

.BusinessAddress .InputBlock input {
    margin-bottom: 10px;
}

.BusinessAddress .Controls {
    width: 330px;
    flex-direction: row;
    justify-content: space-around;
    margin-top: 30px;
}

.BusinessAddress button {
    width: 100px;
}