.PaymentsInfoInput .Header {
    margin-bottom: 30px;
    margin-top: 20px;
}


.PaymentsInfoInput .InputBlock {
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: flex-start;
}

.PaymentsInfoInput .InputBlock label {
    margin: 15px;
    margin-left: 25px;
    margin-top: 20px;
}

.PaymentsInfoInput .InputBlock input {
    margin-bottom: 20px;
}

.PaymentsInfoInput .Controls {
    width: 330px;
    margin-top: 30px;
    flex-direction: row;
    justify-content: space-around;
}

.PaymentsInfoInput button {
    width: 130px;
}