.AddressData .Header {
    margin-bottom: 30px;
}


.AddressData .InputBlock {
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: flex-start;
}

.AddressData .InputBlock label {
    margin: 15px;
    margin-left: 25px;
}

.AddressData .InputBlock input {
    margin-bottom: 10px;
}

.AddressData .Controls {
    width: 330px;
    margin-top: 40px;
    flex-direction: row;
    justify-content: space-around;
}

.AddressData .Controls button {
    width: 130px;
}