.Header {
    margin-bottom: 25px;
}

.Header p {
    text-align: left;
}

.FreelanceInfo .InputBlock {
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: flex-start;
}

.FreelanceInfo .InputBlock label {
    margin: 15px;
    margin-left: 25px;
    margin-top: 20px;
}

.FreelanceInfo .Controls {
    width: 330px;
    flex-direction: row;
    justify-content: space-around;
    margin-top: 15px;
}

.FreelanceInfo .Controls button {
    width: 130px;
    margin-top: 40px;
}

.FreelanceInfo .ButtonAdd {
    width: 40px;
    height: 40px;
    border-radius: 15px;
    padding: 0;
    line-height: 0;

    padding: 0;
    padding-bottom: 3px;
    margin: 0;
    width: 28px;
    height: 28px;
    margin-left: 10px;
    box-shadow: none;
    background: #ddd;
    border-radius: 12px;
    color: #333;
    line-height: 0;
    font-size: 15px;
}
