.GoalSurvey .Header {
    margin-bottom: 50px;
}


.GoalSurvey .InputBlock {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
}

.GoalSurvey .Radio {
    display: flex;
    flex-direction: row;
    margin-bottom: 20px;
}

.GoalSurvey .Radio label {
    margin: 0;
    margin-left: 20px;
}

.GoalSurvey .Radio input {
    width: 20px;
    height: 20px;
    margin-top: 12px;
}

.GoalSurvey .Controls {
    width: 330px;
    flex-direction: row;
    justify-content: space-around;
    margin-top: 30px;
}

.GoalSurvey button {
    width: 130px;
}